<h2>Congress Member <%= name %></h2>
<h3>Their Very Legal (unfortunately) Transactions</h3>
<ul>
  <% officialTransactArr.forEach(element => { %>
  <li>
    <%= `${element.Ticker} ${element.Transaction} of ${element. Range} on` %>
    <%= `${element.TransactionDate} ${element.ReportDate}` %>
  </li>

  <% }) %>
</ul>
